#colorBox {
    height: 150px;
    color: white;
    background-color: rgb(0, 0, 0);
    transition: background-color 0.3s ease;
}

input[type="color"] {
    width: 120px;
    height: 50px;
    border: none;
    cursor: pointer;
}
